/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/(public)/layout.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.layout_layout__n7T5r {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout_main__r7Zkp {
    flex: 1 1;
}


